<div class="content-wrapper">
    <div class="container">
        <div class="filter-input-container">
            <p class="filter-text small-bold-text">Filter by keywords</p>
            <div class="input-wrapper">
                <input type="text" class="filter" placeholder="some text ...">
                <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
            </div>
        </div>
        <div class="result-counter">
            <p class="result small-bold-text">Result: {{latestArticless.length}}</p>
        </div>
        <div class="cards-wrapper">
            <div class="card" *ngFor="let article of latestArticless">
                <div class="card-img-wrapper">
                    <img class="card-img" [src]="article.image_url" alt="">
                </div>
                <div class="card-text">
                    <p class="card-date"><mat-icon aria-hidden="false" style="font-size: 14px; width: 14px; height: 16px;" fontIcon="calendar_today"></mat-icon> <span>{{article.published_at | date}}</span></p>
                    <div class="card-title-wrapper">
                        <h3 class="card-title">{{article.title}}</h3>
                    </div>
                    <p class="card-description">{{article.summary | textFormat}}</p>
                    <button class="card-btn">Read more <mat-icon aria-hidden="false" style="font-size: 12px; width: 12px; height: 12px; color: #363636;" fontIcon="arrow_forward"></mat-icon></button>
                </div>
            </div>

            

            
        </div>
    </div>
</div>